# aria2
ARIA2_SECRET=
TRACKER_URL=

# filepath:
SSD_MOVIE_PATH=
SSD_TV_PATH=
SSD_MUSIC_PATH=
SSD_JAV_PATH=
HDD_MOVIE_PATH=
HDD_TV_PATH=
HDD_ANIME_PATH=

# aria2 download path
DOWNLOAD_PATH=

# postgres_secret
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# metatube proxy
METATUBE_HTTP_PROXY=
METATUBE_HTTPS_PROXY=