# aria2
ARIA2_SECRET=
TRACKER_URL=

# filepath:
SSD_MOVIE_PATH=
SSD_TV_PATH=
SSD_MUSIC_PATH=
SSD_AV_PATH=
HDD_MOVIE_PATH=
HDD_TV_PATH=
HDD_ANIME_PATH=

# aria2 download path
DOWNLOAD_PATH=

# stgres_secret
STGRES_USER=
STGRES_PASSWORD=
STGRES_DB=